.productItem button{
    cursor: pointer;
}

.productItem button.wishlist_default:before,
.productItem button.wishlist_added:before{
    content: '';
    width: 48px; height: 48px;
    display: block;
    position: absolute; right: 20px;top: 40px;
    z-index: 2;
    margin-right: 7px;
    background-size: contain !important;
    transition: all .3s;
}

button.wishlist_default:before{
    background: url('../../../public/image/wishlist.png') no-repeat;
    transition: all .3s;
}

.productItem:hover button.wishlist_default:before{
    background: url('../../../public/image/wishlist-hover.png') no-repeat;
    transition: all .3s;
}

.productItem button.wishlist_added:before{
    background: url('../../../public/image/wishlistActive.png') no-repeat;
    transition: all .3s;
}

.productItem:hover button.wishlist_added:before{
    background: url('../../../public/image/wishlistActive-hover.png') no-repeat;
    transition: all .3s;
}